.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
}

input {
  outline: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
}

.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: tomato;
  font-size: 15px;
}
